


.app {
  background-position: center;
  background-size: cover;
  background-image: url("../images/landing.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media (prefers-reduced-motion: no-preference) {
  .Occupations-logo {
    animation: Occupations-logo-spin infinite 5s linear;
  }
}

@keyframes Occupations-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}